{% extends "base.html" %} {% block title %}Home{% endblock %} {% block content
    %}
    <h1 align="center">Welcome to College MatchMaker!</h1>

</br>
    <p align="text-left">We are a team data science students from various technical backgrounds trying to solve the problem analysis paralysis when it comes to college selection. </br>
        <strong>What is that?</strong></br>
        Well, we’ve found that students are faced with so many options that they freeze when it comes time to seek out the best school for them. Instead they usually select well-known or nearby schools.</br>
        We aim to help students find schools that might be right for them based on the schools they THINK they are interested in. this is different from the standard options available because we use advanced ML models to identify schools that may be similar in a more nuanced way, rather that the traditional way of filtering on possible irrelevant characteristics.</br>
        However you define success after college graduation, I think we can all agree that if a student takes a more thoughtful approach to selecting a college or university, they will enjoy their college experience more, perform better, and ultimately be more successful after graduation.</br>
    </p>
</br>
<p align="text-left">
    Want to find the right match for you? Click the <strong>Get Started</strong> tab above!
</p>
    
    {% endblock %}
    