<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
      integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh"
      crossorigin="anonymous"
    />
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"
      crossorigin="anonymous"
    />

    <title>{% block title %}Home{% endblock %}</title>
  </head>
  <h1>This is not a map</h1>
<body>

   



  <form>
    <div class="row">
      <div class="col">

          <label for="offering_highest_level">Highest Level: </label>
          <select class="form-control" id="offering_highest_level" name="offering_highest_level">
            <option>3</option>
            <option>4</option>
            <option>5</option>
            <option>6</option>
            <option>7</option>
            <option>8</option>
            <option>9</option>
          </select>

      </div>
      <div class="col">

        <label for="inst_size">School Size: </label>
        <select class="form-control" id="inst_size" name="inst_size">
          <option>1</option>
          <option>2</option>
          <option>3</option>
          <option>4</option>
          <option>5</option>
        </select>

      </div>     
       <div class="col">
        <label for="hbcu">HBCU?: </label>
        <select class="form-control" id="hbcu" name="hbcu">
          <option>Yes</option>
          <option>No</option>
        </select>
      </div>
      <div class="col">
        <label for="medical_degree">Medical Degree?: </label>
        <select class="form-control" id="medical_degree" name="medical_degree">
          <option>Yes</option>
          <option>No</option>
        </select>
      </div>
    </div>

</br>
</br>

    <div class="row">
      <div class="col">
        <label for="tribal_college">Tribal College?: </label>
        <select class="form-control" id="tribal_college" name="tribal_college">
          <option>Yes</option>
          <option>No</option>
        </select>
      </div>
      <div class="col">
        <label for="land_grant">Land Grant?: </label>
        <select class="form-control" id="land_grant" name="land_grant">
          <option>Yes</option>
          <option>No</option>
        </select>
      </div>     
       <div class="col">
        <label for="inst_affiliation">Institution Affiliation?: </label>
        <select class="form-control" id="inst_affiliation" name="inst_affiliation">
          <option>Yes</option>
          <option>No</option>
        </select>
      </div>
      <div class="col">
        <label for="oncampus_housing">Oncampus Housing?: </label>
        <select class="form-control" id="oncampus_housing" name="oncampus_housing">
          <option>Yes</option>
          <option>No</option>
        </select>
      </div>
    </div>

</br>
</br>

    <div class="row">
      <div class="col">
        <label for="calendar_system">Calendar System: </label>
        <select class="form-control" id="calendar_system" name="calendar_system">
          <option>Yes</option>
          <option>No</option>
        </select>      </div>
      <div class="col">
        <label for="study_abroad">Study Abroad: </label>
        <select class="form-control" id="study_abroad" name="study_abroad">
          <option>Yes</option>
          <option>No</option>
        </select>      </div>     
       <div class="col">
        <label for="dual_credit">Dual Credit: </label>
        <select class="form-control" id="dual_credit" name="dual_credit">
          <option>Yes</option>
          <option>No</option>
        </select>      </div>
      <div class="col">
        <label for="ap_credit">AP Credit: </label>
        <select class="form-control" id="ap_credit" name="ap_credit">
          <option>Yes</option>
          <option>No</option>
        </select>      
      </div>
    </div>

</br>
</br>

    <div class="row">
      <div class="col">
        <label for="employment_services">Employment services: </label>
        <select class="form-control" id="employment_services" name="employment_services">
          <option>Yes</option>
          <option>No</option>
        </select>      </div>
      <div class="col">
        <label for="placement_services">Placement Services: </label>
        <select class="form-control" id="placement_services" name="placement_services">
          <option>Yes</option>
          <option>No</option>>
        </select>      </div>     
       <div class="col">
        <label for="oncampus_daycare">Daycare Services: </label>
        <select class="form-control" id="oncampus_daycare" name="oncampus_daycare">
          <option>Yes</option>
          <option>No</option>
        </select>      </div>
      <div class="col">
        <label for="disability_indicator">Disability Indicator: </label>
        <select class="form-control" id="disability_indicator" name="disability_indicator">
           <option>Yes</option>
           <option>No</option>
          </select>      
        </div>
    </div>
  </form>


        

</body>
</html>